

<div class="container">
    <div class='row'>
     <%= form_for (@futbol) do |f| %>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
            <div class='form-row'>
              <div class='col-xs-12 form-group required'>
                <label class='control-label'>Equipo local</label>
                <!--<input class='form-control' size='4' type='text'>-->
                <%= f.text_field :local,  :class => 'form-control card-expiry-month' %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-12 form-group card required'>
                <label class='control-label'>Equipo visitante</label>
                <!--<input autocomplete='off' class='form-control card-number' size='20' type='text'>-->
                <%= f.text_field :visitante, :class => 'form-control card-expiry-month' %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-4 form-group cvc required'>
                <label class='control-label'>Cotización 1</label>
                <%= f.text_field :unoxdosuno, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'>Empate</label>
                <%= f.text_field :unoxdosequix, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'>Cotizacion 2 </label>
                <%= f.text_field :unoxdosdos, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'>Fecha </label>
                <%= f.text_field :column_fecha, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 form-group'>
                <%= f.submit "crear partido", :class => 'form-control btn btn-primary submit-button'  %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 error form-group hide'>
                <div class='alert-danger alert'>
                  Please correct the errors and try again.
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class='col-md-4'></div>
        <% end %>
    </div>
</div>
