<h1><%= @futbol.local %> vs <%= @futbol.visitante %></h1>
<!--<p>Find me in app/views/futbols/show.html.erb</p>-->

<!--<p>-->
<!--  <strong>Equipo local</strong>-->
<!--  <%= @futbol.local %>-->
<!--</p>-->
 
<!--<p>-->
<!--  <strong>Visitante</strong>-->
<!--  <%= @futbol.visitante %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>1x2 relutado de 1</strong>-->
<!--  <%= @futbol.unoxdosuno %>-->
<!--</p>-->
<!--<%= @variable %>-->

<!--<p>-->
<!--  <strong>1x2 relutado de empate</strong>-->
<!--  <%= @futbol.unoxdosequix %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>1x2 relutado de 2</strong>-->
<!--  <%= @futbol.unoxdosdos %>-->
<!--</p>-->

<!--<tr id="sum">-->
<!--        <td>&nbsp;</td>-->
<!--        <td align="right">Sum :</td>-->
<!--        <td align="center"><span id="sumada">0</span></td>-->
<!--    </tr>-->
<!--  </p>-->

  <!--<input type="text" id="txt_name"  />-->
  
  <div class="row">
  <div class="col-lg-3">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" id="capullo"> Testea</button>
      </span>
      <input type="text" class="form-control" id="amount" >
    </div>
  </div>
</div>
<div class="container features_table">
        	<div class="col-sm-8 col-8 col-xs-12 no-padding">
            	<div class="features-table">
                	<ul>
                    	<h1>Apuestas</h1>
                    	<li>1x2 con resultado 1</li>
                        <li>1x2 con resultado x</li>
                        <li>1x2 con resultado 2</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding">
            <div class="features-table-free">
                	<ul>
                    	<h1>Contización</h1>
                        <li><i class="fa fa-check"><%= @futbol.unoxdosuno %></i></li>
                        <li><i class="fa fa-check"><%= @futbol.unoxdosequix %></i></li>
                        <li><i class="fa fa-check"><%= @futbol.unoxdosdos %></i></li>
                        
                    </ul>
                </div>
            
            </div>
             <div class="col-sm-2 col-2 col-xs-12 no-padding">
             	 <div class="features-table-paid">
                	<ul>
                    	<h1>Ganancias</h1>
                        <li><i class="fa fa-check" id="sumada">0</i></li>
                        <li><i class="fa fa-check" id="sumada1">0</i></li>
                        <li><i class="fa fa-check" id="sumada2">0</i></li>
                        
                    </ul>
                </div>
             </div>
        </div>
  


<%= link_to 'Editar', edit_futbol_path(@futbol) %>

<%= link_to "Procesar apuesta", new_futbol_review_path(@futbol), :class => "btn btn-default btn-lg" %>