<h1>Partidos#new</h1>
<p>Find me in app/views/partidos/new.html.erb</p>
<%= form_for (@futbol) do |f| %>
  <p>
    <%= f.label :unoxcero %><br>
    <%= f.text_field :unoxcero %>
  </p>
 
  <p>
    <%= f.label :dosxcero %><br>
    <%= f.text_area :dosxcero %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>t
