<%= form_for([@game, @bet]) do |f| %>
  <div class="row">
  <div class="col-lg-3">
    <div class="input-group">

      <label class='control-label'> CANTIDAD </label>
      <%= f.text_field :intro, :class => 'form-control card-cvc'%>
    </div>
  </div>
</div>
        <div class="continer features_table">
            
            
        	<div class="col-sm-8 col-8 col-xs-12 no-padding">
            	<div class="features-table">
                	<ul>
                    	<h1>Apuestas</h1>
                    	<li>1 - 0</li>
                        <li>2 - 0</li>
                        <li>2 - 1</li>
                        <li>3 - 0</li>
                        <li>3 - 1</li>
                        <li>3 - 2</li>
                        <li>4 - 0</li>
                        <li>4 - 1</li>
                        <li>4 - 2</li>
                        <li>4 - 3</li>
                        <li>5 - 0</li>
                        <li>0 - 0</li>
                        <li>1 - 1</li>
                        <li>2 - 2</li>
                        <li>3 - 3</li>
                        <li>4 - 4</li>
                        <li>0 - 1</li>
                        <li>0 - 2</li>
                        <li>1 - 2</li>
                        <li>0 - 3</li>
                        <li>1 - 3</li>
                        <li>2 - 3</li>
                        <li>0 - 4</li>
                        <li>1 - 4</li>
                        <li>2 - 4</li>
                        <li>3 - 4</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding">
            <div class="features-table-free">
                	<ul>
                    	<h1>Cotización</h1>
                        <li><i class="fa fa-check"><%= @game.unoxcero %></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxcero %></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.cincoxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxcuatro%></i></li>
                        
                    </ul>
                </div>
            
            </div>
             <div class="col-sm-2 col-2 col-xs-12 no-padding">
             	 <div class="features-table-paid">
                	<ul>
                    	<h1>Ganancias</h1>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 10 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 20 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 21 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 30 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 31 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 32 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 40 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 41 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 42 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 43 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 50 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 00 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 11 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 22 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 33 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 44 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 01 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 02 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 12 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 03 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 13 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 23 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 04 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 14 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 24 %></i></li>
                        <li><i class="fa fa-check" ><%= f.radio_button :cotizacion, 34 %></i></li>
                        
                    </ul>
                </div>
             </div>
             <%= f.submit "crear ticket"%>
            <% end %>

        </div>
        
  <tr>
      
      