

<div id="printableArea">
	<div class="container">
	               
				
					<form class="form-horizontal" method="post" action="#">
						
						<div class="formulario form-group">
							<%= image_tag "logopar.png" %>
	               		<h1 class="title"><%= @bet.game.local %> vs <%= @bet.game.visitante %></h1>
	               		
	               	</div>
						
						<div class="formulario form-group">
							<div class="titulo">Fecha del partido:   <%= @bet.game.fecha %></div>
							
						</div>

						<div class="formulario form-group">
							<div class="titulo">Pronostico:   <span class="pronostico"><%= @bet.valor %></span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Apuesta:   <span class="pronostico"><%= @bet.intro %></span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Cotizacion:   <span class="pronostico"><%= @bet.cotizacion %></span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Posible ganancia:   <span><%= @bet.resultado %> Fcfa</span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Fecha de la apuesta:   <span><%= @bet.created_at.strftime("%d %b. %Y") %></span></div>
							
						</div>
		
						<div class="formulario form-group">
							<div class="titulo">Ref:   <span><%= @bet.random %></span>
							
							
							</div>
														
		
							
						</div>
						
						<div class="formulario form-group">
							<div class="titulo">------------</span>
							
							
							</div>
														
		
							
						</div>
						

						
					</form>
		
				</div>
		
		</div>
		</div>
		
		<input  type="button" onclick="printDiv('printableArea')" value="Imprime el ticket" />