
<div class="container">
    <div class='row'>
     <%= form_for (@game) do |f| %>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
            <div class='form-row'>
              <div class='col-xs-12 form-group required'>
                <label class='control-label'>Equipo local</label>
                <!--<input class='form-control' size='4' type='text'>-->
                <%= f.text_field :local,  :class => 'form-control card-expiry-month' %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-12 form-group card required'>
                <label class='control-label'>Equipo visitante</label>
                <!--<input autocomplete='off' class='form-control card-number' size='20' type='text'>-->
                <%= f.text_field :visitante, :class => 'form-control card-expiry-month' %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 1-0</label>
                <%= f.text_field :unoxcero, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>2-0</label>
                <%= f.text_field :dosxcero, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 2-1 </label>
                <%= f.text_field :dosxuno, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 3-0 </label>
                <%= f.text_field :tresxcero, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 3-1</label>
                <%= f.text_field :tresxuno, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>3-2</label>
                <%= f.text_field :tresxdos, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 4-0 </label>
                <%= f.text_field :cuatroxcero, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 4-1 </label>
                <%= f.text_field :cuatroxuno, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 4-2</label>
                <%= f.text_field :cuatroxdos, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>4-3</label>
                <%= f.text_field :cuatroxtres, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 5-0 </label>
                <%= f.text_field :cincoxcero, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 0-0 </label>
                <%= f.text_field :ceroxcero, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 1-1</label>
                <%= f.text_field :unoxuno, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>2-2</label>
                <%= f.text_field :dosxdos, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 3-3 </label>
                <%= f.text_field :tresxtres, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 4-4 </label>
                <%= f.text_field :cuatroxcuatro, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 0-1</label>
                <%= f.text_field :ceroxuno, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>0-2</label>
                <%= f.text_field :ceroxdos, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 1-2 </label>
                <%= f.text_field :unoxdos, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 0-3 </label>
                <%= f.text_field :ceroxtres, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 1-3</label>
                <%= f.text_field :unoxtres, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>2-3</label>
                <%= f.text_field :dosxtres, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 0-4 </label>
                <%= f.text_field :ceroxcuatro, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> 1-4 </label>
                <%= f.text_field :unoxcuatro, :class => 'form-control card-cvc'%>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-3 form-group cvc required'>
                <label class='control-label'> 2-4</label>
                <%= f.text_field :dosxcuatro, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'>3-4</label>
                <%= f.text_field :tresxcuatro, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> otro </label>
                <%= f.text_field :otro, :class => 'form-control card-cvc'%>
              </div>
              <div class='col-xs-3 form-group expiration required'>
                <label class='control-label'> Fecha </label>
                <%= f.text_field :fecha, :class => 'form-control card-cvc'%>
              </div>
            <div class='form-row'>
              <div class='col-md-12 form-group'>
                <%= f.submit "crear partido", :class => 'form-control btn btn-primary submit-button'  %>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 error form-group hide'>
                <div class='alert-danger alert'>
                  Please correct the errors and try again.
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class='col-md-4'></div>
        <% end %>
    </div>
</div>