<h1>Lista de partidos por resultados</h1>

<div class="container">
  <% @game.each do |f| %>
    <tr>
            <div class="col-sm-12">

<div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title"><%= f.local %> vs <%= f.visitante %></h1>
                            <div class="cta-desc">
                                
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                          <a><%= link_to 'entrar', game_path(f), :class => "btn btn-lg btn-block btn-primary" %></a>
                        </div>
                     </div>
                </div>
            </div>
              </tr>
  <% end %>
        </div>
        <%= will_paginate @game %>
        
        