 <div class="row">
  <div class="col-lg-3">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" id="capullo1"> Testea</button>
      </span>
      <input type="text" class="form-control" id="amount1" >
    </div>
  </div>
</div>
<div class="container features_table">
        	<div class="col-sm-8 col-8 col-xs-12 no-padding">
            	<div class="features-table">
                	<ul>
                    	<h1>Apuestas</h1>
                    	<li>1 - 0</li>
                        <li>2 - 0</li>
                        <li>2 - 1</li>
                        <li>3 - 0</li>
                        <li>3 - 1</li>
                        <li>3 - 2</li>
                        <li>4 - 0</li>
                        <li>4 - 1</li>
                        <li>4 - 2</li>
                        <li>4 - 3</li>
                        <li>5 - 0</li>
                        <li>0 - 0</li>
                        <li>1 - 1</li>
                        <li>2 - 2</li>
                        <li>3 - 3</li>
                        <li>4 - 4</li>
                        <li>0 - 1</li>
                        <li>0 - 2</li>
                        <li>1 - 2</li>
                        <li>0 - 3</li>
                        <li>1 - 3</li>
                        <li>2 - 3</li>
                        <li>0 - 4</li>
                        <li>1 - 4</li>
                        <li>2 - 4</li>
                        <li>3 - 4</li>
                        
                        
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding">
            <div class="features-table-free">
                	<ul>
                    	<h1>Contización</h1>
                        <li><i class="fa fa-check"><%= @game.unoxcero %></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxcero %></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.cincoxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxcero%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.cuatroxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxuno%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxdos%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxtres%></i></li>
                        <li><i class="fa fa-check"><%= @game.ceroxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.unoxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.dosxcuatro%></i></li>
                        <li><i class="fa fa-check"><%= @game.tresxcuatro%></i></li>
                        
                        
                        
                    </ul>
                </div>
            
            </div>
             <div class="col-sm-2 col-2 col-xs-12 no-padding">
             	 <div class="features-table-paid">
                	<ul>
                    	<h1>Ganancias</h1>
                        <li><i class="fa fa-check" id="sumadas">0</i></li>
                        <li><i class="fa fa-check" id="sumadas1">0</i></li>
                        <li><i class="fa fa-check" id="sumadas2">0</i></li>
                        <li><i class="fa fa-check" id="sumadas3">0</i></li>
                        <li><i class="fa fa-check" id="sumadas4">0</i></li>
                        <li><i class="fa fa-check" id="sumadas5">0</i></li>
                        <li><i class="fa fa-check" id="sumadas6">0</i></li>
                        <li><i class="fa fa-check" id="sumadas7">0</i></li>
                        <li><i class="fa fa-check" id="sumadas8">0</i></li>
                        <li><i class="fa fa-check" id="sumadas9">0</i></li>
                        <li><i class="fa fa-check" id="sumadas10">0</i></li>
                        <li><i class="fa fa-check" id="sumadas11">0</i></li>
                        <li><i class="fa fa-check" id="sumadas12">0</i></li>
                        <li><i class="fa fa-check" id="sumadas13">0</i></li>
                        <li><i class="fa fa-check" id="sumadas14">0</i></li>
                        <li><i class="fa fa-check" id="sumadas15">0</i></li>
                        <li><i class="fa fa-check" id="sumadas16">0</i></li>
                        <li><i class="fa fa-check" id="sumadas17">0</i></li>
                        <li><i class="fa fa-check" id="sumadas18">0</i></li>
                        <li><i class="fa fa-check" id="sumadas19">0</i></li>
                        <li><i class="fa fa-check" id="sumadas20">0</i></li>
                        <li><i class="fa fa-check" id="sumadas21">0</i></li>
                        <li><i class="fa fa-check" id="sumadas22">0</i></li>
                        <li><i class="fa fa-check" id="sumadas23">0</i></li>
                        <li><i class="fa fa-check" id="sumadas24">0</i></li>
                        <li><i class="fa fa-check" id="sumadas25">0</i></li>
                    
                        
                        
                    </ul>
                </div>
             </div>
        </div>
  


<%= link_to 'Editar', edit_game_path(@game) %>

<%= link_to "Procesar apuesta", new_game_bet_path(@game), :class => "btn btn-default btn-lg" %>