@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1.title { 
	font-size: 48px;
	font-family: 'Arial'; 
	font-weight: 400; 
	text-decoration: underline;
}

hr{
	width: 10%;
	color: #fff;
}

// .form-group{
// 	margin-bottom: 50px;
// }

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    margin-top: 10px;

}

.main-center{
 	margin-top: 10px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.pronostico{
  font-size: 45px;
}
.titulo { 
	font-size: 40px;
	font-family: 'Arial'; 
	font-weight: 400; 
}
.formulario{
    width: 700px;
    margin-bottom: 50px;
}
.main-login{
    margin-left: 210px;
    
}
.imagen{
    width: 20px;
    height: 20px;
}