<header id="content-header">
  <h1>Reviews for <%= link_to(@futbol.local, @movie) %></h1>
</header>

<ol>
  <% @reviews.each do |review| %>
    <li>
       
      <p>
        <%= review.cantidad %>
      </p>
    </li>
  <% end %>
</ol>