<!--  <strong>Equipo local</strong>-->
<!--  <%= @futbol.local %>-->
<!--</p>-->
 
<!--<p>-->
<!--  <strong>Visitante</strong>-->
<!--  <%= @futbol.visitante %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>1x2 relutado de 1</strong>-->
<!--  <%= @futbol.unoxdosuno %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>1x2 relutado de empate</strong>-->
<!--  <%= @futbol.unoxdosequix %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>1x2 relutado de 2</strong>-->
<!--  <%= @futbol.unoxdosdos %>-->
<!--</p>-->
<!--<h2>Form Data - enter</h2>-->

<!--<%= @variable %>-->

<!--<%= form_tag(new_futbol_review_path) do %>-->

<!--  <p>Name:-->
<!--  <%= text_field_tag("name","Web Programmer") %></p>-->

<!-- <%= submit_tag "Save Data", :name => 'save' %>-->
<!--<% end %>-->

<!--<%= form_for([@futbol, @review]) do |f| %>-->
<!--<p>-->
<!--  <strong>1x2 relutado de 2</strong>-->
<!--  <%= @futbol.unoxdosdos %>-->
<!--</p>-->
<!--  <p>-->
<!--    <%= f.label :cantidad %><br/>-->
<!--    <%= f.text_field :cantidad,  :id=>"boton"%>-->
<!--  </p>-->
<!--  <p>-->
<!--      <%= f.submit 'calculo', :action => "new", :name => 'calculo' %>-->
<!--    <%= f.submit 'Post Review', :name => 'library' %>-->
<!--    <tr id="sumar">-->
<!--        <td>&nbsp;</td>-->
<!--        <td align="right">Sum :</td>-->
<!--        <td align="center"><span id="sumi">0</span></td>-->
<!--    </tr>-->
<!--  </p>-->
<!--  <%= button_tag "a sumar", :id => "deviceIDbutton", :class => "btn btn-small btn-inverse", :type => "button" %>-->
<!--<% end %>-->
  
  <%= form_for([@futbol, @review]) do |f| %>
  <div class="row">
  <div class="col-lg-3">
    <div class="input-group">

      <label class='control-label'> CANTIDAD </label>
      <%= f.text_field :unoxdosuno, :class => 'form-control card-cvc'%>
    </div>
  </div>
</div>
        <div class="continer features_table">
            
            
        	<div class="col-sm-8 col-8 col-xs-12 no-padding">
            	<div class="features-table">
                	<ul>
                    	<h1>Apuestas</h1>
                    	<li>1x2 con resultado 1</li>
                        <li>1x2 con resultado x</li>
                        <li>1x2 con resultado 2</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding">
            <div class="features-table-free">
                	<ul>
                    	<h1>Contización</h1>
                        <li><i class="fa fa-check"><%= @futbol.unoxdosuno %></i></li>
                        <li><i class="fa fa-check"><%= @futbol.unoxdosequix %></i></li>
                        <li><i class="fa fa-check"><%= @futbol.unoxdosdos %></i></li>
                        
                    </ul>
                </div>
            
            </div>
             <div class="col-sm-2 col-2 col-xs-12 no-padding">
             	 <div class="features-table-paid">
                	<ul>
                    	<h1>Ganancias</h1>
                        <li><i class="fa fa-check" id="sumada"><%= f.radio_button :cantidad, 121 %> </i></li>
                        <li><i class="fa fa-check" id="sumada1"><%= f.radio_button :cantidad, 120 %></i></li>
                        <li><i class="fa fa-check" id="sumada2"><%= f.radio_button :cantidad, 122 %></i></li>
                        
                    </ul>
                </div>
             </div>
             <%= f.submit "crear ticket"%>
            <% end %>

        </div>
        
  <tr>
      
      
      
  <!--<%= radio_button_tag(:age, "child") %>-->
  <!--<%= label_tag(:age_child, @futbol.unoxdosuno) %>-->
  
  

<!--<%= form_for([@futbol, @review]) do |f| %>-->
<!--<%= f.label :cantidad %><br/>-->
<!--<%= f.text_field :unoxdosuno %>-->
<!--  <%= f.radio_button :cantidad, @futbol.unoxdosuno %> -->
<!--  <%= label :unoxdosuno, "1" %>-->
<!--  <%= f.radio_button :cantidad, @futbol.unoxdosequix %> -->
<!--  <%= label :unoxdosuno, "x" %>-->
<!--  <%= f.radio_button :cantidad, @futbol.unoxdosdos %> -->
<!--  <%= label :unoxdosuno, "2" %>-->
<!--  <%= f.submit "crear ticket"%>-->
<!--<% end %>-->



