
<div id="printableArea">
	<div class="container">
	               
				
					<form class="form-horizontal" method="post" action="#">
						
						<div class="formulario form-group">
							<%= image_tag "logopar.png" %>
	               		<h1 class="title"><%= @review.futbol.local %> - <%= @review.futbol.visitante %></h1>
	               		
	               	</div>
						
						<div class="formulario form-group">
							<div class="titulo">Fecha del partido:   <%= @review.futbol.column_fecha %></div>
							
						</div>

						<div class="formulario form-group">
							<div class="titulo">Pronostico:   <span class="pronostico"><%= @review.visitantes %></span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Apuesta:   <span class="pronostico"><%= @review.unoxdosuno %></span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Cotizacion:   <span class="pronostico"><%= @review.cantidad %></span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Posible ganancia:   <span><%= @review.resultado %> Fcfa</span></div>
							
						</div>
						<div class="formulario form-group">
							<div class="titulo">Fecha de la apuesta:   <span><%= @review.created_at.strftime("%d %b. %Y") %></span></div>
							
						</div>
		
						<div class="formulario form-group">
							<div class="titulo">Ref:   <span><%= @review.local %></span>
							
							
							</div>
														
		
							
						</div>
						
						<div class="formulario form-group">
							<div class="titulo">------------</span>
							
							
							</div>
														
		
							
						</div>
						

						
					</form>
		
				</div>
		
		</div>
		</div>
		
		<input  type="button" onclick="printDiv('printableArea')" value="Imprime el ticket" />